.container{
    width: 80%;
    height: 700px;
    margin: 0 auto;
    border: 10px solid;

}

.item{
    width: 150px;
    height: 150px;
    background-color:blueviolet;
    padding: 1em;
    font-weight: 700;
    color: aquamarine;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
    margin-top: 2em;
}

.item>h1{
    border: 5px solid black;
}

.item>p{
    border: 5px solid black;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}